
body{
  height: 100%;
  overflow: hidden;
}

.header{
  background-image: url("./assets/images/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head-line-text{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  margin-top: 0;
  color:white;
}

.input-field-conatiner{
  display: flex;

}
.input-field{
  width: 500px;
  height: 50px;

  

  border: black 1px;

  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;

  padding-left: 15px;
  padding-right: 15px;
}

.input-field:hover, .input-field:focus {
  outline: none;
}

.btn{
  background-color: black;
  
  padding: 19px;
  font-size: 13px;

  cursor: pointer;

  border: 0;

  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.info-container-fluid{

  position: relative;
  max-width: 70vw;

  align-self: center;
}

.info-container{
  display: flex;
  z-index: 1;

  position: absolute;

  top: 35%;
  left: 70%;
  transform: translate(-50%, -35%);

  width: 70vw;

  justify-content: center;
  align-items: center;

  background-color: white;

  border-radius: 10px;
}

.info-content{
  margin-top: 30px;
  margin-bottom: 30px;

  margin-left: 2vw;
  margin-right: 3vw;
}
.info-name{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;

  font-size: 12px;
  color: darkgray;

  letter-spacing: 3px;
}
.info-data{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 3px;

  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  .header{
    height: 40vh;
    justify-content: flex-start;
    padding-top: 20px;
  }
  .input-field{
    width: 60vw;
    height: 60px;
  }
  .info-container{
    flex-direction: column;
    height: fit-content;
    margin-top: 10px;
    width: 80vw;

    top: 40%;
    transform: translate(-50%, -40%);
  }
  .info-content{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .info-name{
    text-align: center;
    font-size: 10px;
  }
  .info-data{
  
    font-size: 20px;
    text-align: center;
  }
  
}